<?xml version="1.0"?>
<launch>
 
  <!-- We resume the logic in empty_world.launch, changing only the name of the world to be launched -->
  <!--include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find robotic_polishing)/worlds/camerakinect.world"/>
  </include>

 <! Loads the Gazebo world. -->



    	<include file="$(find iiwa_gazebo)/launch/iiwa_gazebo.launch">
    	</include>
    
        <!--node pkg="robotic_polishing" type="talkerpcl" name="talker">
	</node-->



</launch>
